/* @link https://utopia.fyi/type/calculator?c=320,18,1.125,1280,20,1.125,2,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
    --fs-1: clamp(1rem, 0.963rem + 0.1852vw, 1.1111rem);
    --fs0: clamp(1.125rem, 1.0833rem + 0.2083vw, 1.25rem);
    --fs1: clamp(1.2656rem, 1.2188rem + 0.2344vw, 1.4063rem);
    --fs2: clamp(1.4238rem, 1.3711rem + 0.2637vw, 1.582rem);
    --layer-01: #fff; /* White */
    --background: #f4f4f4; /* Gray 10 */
    --layer-selected-01: #e0e0e0; /* Gray 20 */
    --layer-selected-inverse: #161616; /* Gray 100 */
    --text-primary: #161616; /* Gray 100 */
    --text-secondary: #525252; /* Gray 70 */
    --text-error: #da1e28; /* Red 60 */
    --button-primary: #0f62fe; /* Blue 60 */
    --button-primary-hover: #0353e9;
    --text-on-color: #fff; /* White */
    --border-subtle-01: #e0e0e0; /* Gray 20 */
    --notification-background-info: #edf5ff; /* Blue 10 */
    --link-secondary: #0043ce; /* Blue 70 */;
    --border-interactive: #0f62fe; /* Blue 60 */;
    --tag-background-purple: #e8daff; /* Purple 20 */;
    --tag-border-purple: #be95ff; /* Purple 40 */;
    --tag-color-purple: #6929c4; /* Purple 70 */;
    --tag-background-green: #a7f0ba; /* Green 20 */;
    --tag-border-green: #42be65 /* Green 40 */;
    --tag-color-green: #0e6027; /* Green 70 */;
}

/* Stylesheet uses Level 3 Media Queries. Level 4 coverage still spotty. */
body {
    background: var(--background);
    margin: 0;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

#container {
    width: 100%;
    max-width: 640px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: flex-start;
}

main {
    width: 95%;
    margin: 2em 2.5%;
    padding: 0;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: flex-start; /* cross axis */
}

header {
    width: 95%;
    margin: 0;
    padding: 0 2.5%;
    flex: initial;
    position: relative;
}

header::before {
    content: "";
    position: absolute;
    inset: 0 calc((100vw - 100%) / -2);
    background: var(--layer-selected-inverse);
    z-index: -1;
}

figure.full {
    width: 100%;
    margin: 0 0 1em;  /* longhand 0 0 1em 0 */
    padding: 0;
    flex: initial;
}

.text {
    width: 90%;
    margin: 0;
    padding: 0.5em 5%;
    background: var(--layer-01);
    flex: initial;
    position: relative;
}

.tag {
    width: 120px;
    flex: initial;
    text-align: center;
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300; /* 100 to 1000 */
    font-style: normal;
    font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
    font-size: var(--fs-1);
    line-height: 1.5;
    border-radius: 12px;
    position: absolute;
    top: -1.8em;
    right: 0;
}

/* Tag color */
.purple {
    background: var(--tag-background-purple);
    color: var(--tag-color-purple);
    border: 1px solid var(--tag-color-purple);
}

/* Tag color */
.green {
    background: var(--tag-background-green);
    color: var(--tag-color-green);
    border: 1px solid var(--tag-color-green);
}

.notice {
    width: 90%;
    margin: 2em 0 0; /* longhand 1em 0 0 0 */
    padding: 0 5%;
    flex: initial;
    background: var(--notification-background-info);
    border: 1px solid var(--border-interactive);
}

form {
    width: 90%;
    margin: 0;
    padding: 0 5%;
    background: var(--layer-01);
    flex: initial;
}

fieldset {
    width: 90%;
    margin: 0 0 1em;
    padding: 3em 5% 1em; /* longhand 3em 5% 1em 5% */
    border: 1px solid var(--border-subtle-01);
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: center; /* cross axis */
    position: relative; /* Used with legend */
}

input[type="text"] {
    width: 30%;
    margin: 1em 5% 1em 0;
    padding: 0;
    text-align: center;
}

.label-txt {
    width: 60%;
    margin: 0;
    padding: 0;
}

input[type="radio"] {
    width: 10%;
    margin: 1em 0;
    padding: 0;
}

.label-radio {
    width: 85%;
    margin: 0;
    padding: 0;
}

.error {
    width: 100%;
    margin: 0;
    padding: 0;
    color: var(--text-error);
}

nav {
    width: 95%;
    margin: 0;
    padding: 1em 2.5%;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; /* main axis */
    align-items: flex-start; /* cross axis */
    position: relative;
}

nav::before {
    content: "";
    position: absolute;
    inset: 0 calc((100vw - 100%) / -2);
    background: var(--layer-selected-01);
    z-index: -1;
}

button {
    width: 7em;
    margin: 0;
    padding: 0;
    background: var(--button-primary);
    border: none;
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* 100 to 1000 */
    font-style: normal;
    font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
    font-size: var(--fs0);
    line-height: 1.8;
    color: var(--text-on-color);
}

button:hover {
    cursor: pointer;
    background: var(--button-primary-hover);
}

/* Check box for results */
figure.check-mark {
    width: 90%;
    margin: 0;
    padding: 1em 5%;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: center; /* main axis */
    align-items: flex-start; /* cross axis */
    animation: fade-in-delayed 2s;
}

.check-mark-img {
    max-width: 48px;
}

/* Animations */
@keyframes fade-in-delayed {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Styles for Mapbox map */
#map-area {
    width: 100vw;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.map-container {
    width: 100vw;
    height: 100vh;  /* optional */
    object-fit: cover;
}

/* "Start over" button on map */
#map-start-over {
    position: fixed;
    top: 1em;
    right: 1em;
}

/* Map coordinates box on map */
#map-coords {
    padding: 0 1em;
    border-radius: 12px;
    position: fixed;
    top: 1em;
    left: 1em;
    background: var(--background);
}

/* Font styles */
p, li {
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* 100 to 1000 */
    font-style: normal;
    font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
    font-size: var(--fs0);
    line-height: 1.8;
    color: var(--text-primary);
}

figcaption {
    width: 90%;
    margin: 0;
    padding: 0;
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* 100 to 1000 */
    font-style: normal;
    font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
    font-size: var(--fs-1);
    line-height: 2.4;
    color: var(--text-secondary);
}

dt {
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600; /* 100 to 1000 */
    font-style: normal;
    font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
    font-size: var(--fs-1);
    line-height: 1.5;
    color: var(--text-primary);
}

dd {
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* 100 to 1000 */
    font-style: normal;
    font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
    font-size: var(--fs-1);
    line-height: 1.5;
    color: var(--text-primary);
    margin-left: 0;
}

p a {
    color: var(--link-secondary);
    text-decoration: underline;
}

figcaption a {
    color: var(--link-secondary);
    text-decoration: underline;
}

p a:hover {
    text-decoration: underline;
}

figcaption a:hover {
    text-decoration: underline;
}

.emphasis {
    font-weight: 600;
}

label, input {
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* 100 to 1000 */
    font-style: normal;
    font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
    font-size: var(--fs0);
    line-height: 1.5;
    color: var(--text-primary);
}

legend {
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600; /* 100 to 1000 */
    font-style: normal;
    font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
    font-size: var(--fs1);
    line-height: 1.5;
    color: var(--text-primary);
    position: absolute; /* Used with fieldset, puts text INSIDE fieldset border */
    top: 0.5em;
}

h1 {
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* 100 to 1000 */
    font-style: normal;
    font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
    font-size: var(--fs1);
    line-height: 1.5;
    color: var(--text-on-color);
}

h2 {
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700; /* 100 to 1000 */
    font-style: normal;
    font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
    font-size: var(--fs2);
    line-height: 1.2;
    color: var(--text-primary);
}