/* @link https://utopia.fyi/type/calculator?c=320,18,1.125,1280,20,1.125,2,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --fs-1: clamp(1rem, 0.963rem + 0.1852vw, 1.1111rem);
  --fs0: clamp(1.125rem, 1.0833rem + 0.2083vw, 1.25rem);
  --fs1: clamp(1.2656rem, 1.2188rem + 0.2344vw, 1.4063rem);
  --fs2: clamp(1.4238rem, 1.3711rem + 0.2637vw, 1.582rem);
}

/* Stylesheet uses Level 3 Media Queries. Level 4 coverage still spotty. */
body {
    background: #f5fafd; /* surface */
    margin: 0;
}

img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 12px;
}

#container {
    width: 100%;
    max-width: 640px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: flex-start;
}

main {
    width: 95%;
    margin: 0 0 1em; /* longhand 0 0 1em 0 */
    padding: 0 2.5%;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: flex-start; /* cross axis */
}

header {
    width: 95%;
    margin: 0;
    padding: 0 2.5%;;
    background: #e8f2ff; /* secondary 95 */
    border-bottom: 2px solid #a1cbf5;  /* secondary 80 */
    flex: initial;
    position: relative;
}

header::before {
    content: "";
    position: absolute;
    inset: 0 calc((100vw - 100%) / -2) -2px;
    background: #e8f2ff; /* secondary 95 */
    border-bottom: 2px solid #a1cbf5;  /* secondary 80 */
    z-index: -1;
}

figure.full {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial;
}

.text {
    width: 100%;
    margin: 0;
    padding: 0.5em 0;
    flex: initial;
}

form {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial;
}

fieldset {
    width: 90%;
    margin: 0 0 1em;
    padding: 3em 5% 1em; /* longhand 3em 5% 1em 5% */
    background: #f0f4f7;  /* surface container low */
    border: 2px solid #e4e2e2; /* neutral 90 */
    border-radius: 8px;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: center; /* cross axis */
    position: relative; /* Used with legend */
}

input[type="text"] {
    width: 30%;
    margin: 1em 5% 1em 0;
    padding: 0;
    text-align: center;
}

.label-txt {
    width: 60%;
    margin: 0;
    padding: 0;
}

input[type="radio"] {
    width: 10%;
    margin: 1em 0;
    padding: 0;
}

.label-radio {
    width: 85%;
    margin: 0;
    padding: 0;
}

.error {
    width: 100%;
    margin: 0;
    padding: 0;
    color: #ba1a1a; /* error */
}

nav {
    width: 95%;
    margin: 0;
    padding: 1em 2.5%;
    background: #f0f4f7;  /* surface container low */
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; /* main axis */
    align-items: flex-start; /* cross axis */
    position: relative;
}

nav::before {
    content: "";
    position: absolute;
    inset: 0 calc((100vw - 100%) / -2);
    background: #f0f4f7;  /* surface container low */
    z-index: -1;
}

button {
    width: 7em;
    margin: 0;
    padding: 0;
    background: #eae78e; /* primary container */
    border: 2px solid #b3b000; /* primary 70 */
    border-radius: 12px;
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500; /* 100 to 1000 */
    font-style: normal;
    font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
    font-size: var(--fs0);
    line-height: 1.6;
    color: #4a4900; /* on primary container */
}

button:hover {
    cursor: pointer;
    background: #d0cc00; /* primary 80 */
}

/* Check box for results */
figure.check-mark {
    width: 90%;
    margin: 0;
    padding: 1em 5%;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: center; /* main axis */
    align-items: flex-start; /* cross axis */
    animation: fade-in-delayed 2s;
}

.check-mark-img {
    max-width: 48px;
}

/* Animations */
@keyframes fade-in-delayed {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Styles for Mapbox map */
#map-area {
    width: 100vw;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.map-container {
    width: 100vw;
    height: 100vh;  /* optional */
    object-fit: cover;
}

/* "Start over" button on map */
#map-start-over {
    position: fixed;
    top: 1em;
    right: 1em;
}

/* Map coordinates box on map */
#map-coords {
    padding: 0 1em;
    border-radius: 12px;
    position: fixed;
    top: 1em;
    left: 1em;
    background: #f5fafd; /* surface */
}

/* Font styles */
p, li {
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* 100 to 1000 */
    font-style: normal;
    font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
    font-size: var(--fs0);
    line-height: 1.8;
    color: #171c1f; /* on surface */
}

figcaption {
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* 100 to 1000 */
    font-style: normal;
    font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
    font-size: var(--fs-1);
    line-height: 1.5;
    color: #48473a; /* on surface variant */
}

dt {
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600; /* 100 to 1000 */
    font-style: normal;
    font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
    font-size: var(--fs-1);
    line-height: 1.5;
    color: #171c1f; /* on surface */
}

dd {
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* 100 to 1000 */
    font-style: normal;
    font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
    font-size: var(--fs-1);
    line-height: 1.5;
    color: #171c1f; /* on surface */
    margin-left: 0;
}

p a {
    color: #636100; /* primary 40 */
    text-decoration: underline;
}

figcaption a {
    color: #636100; /* primary 40 */
    text-decoration: underline;
}

p a:hover {
    color: #4a4900;  /* primary 30 */
    text-decoration: underline;
}

figcaption a:hover {
    color: #4a4900;  /* primary 30 */
    text-decoration: underline;
}

.emphasis {
    font-weight: 600;
}

label, input {
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* 100 to 1000 */
    font-style: normal;
    font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
    font-size: var(--fs0);
    line-height: 1.5;
    color: #171c1f; /* on surface */
}

legend {
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600; /* 100 to 1000 */
    font-style: normal;
    font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
    font-size: var(--fs1);
    line-height: 1.5;
    color: #171c1f; /* on surface */
    position: absolute; /* Used with fieldset, puts text INSIDE fieldset border */
    top: 0.5em;
}

h1 {
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700; /* 100 to 1000 */
    font-style: normal;
    font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
    font-size: var(--fs1);
    line-height: 1.5;
    color: #0f4a73; /* on secondary container */
}

h2 {
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700; /* 100 to 1000 */
    font-style: normal;
    font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
    font-size: var(--fs2);
    line-height: 1.5;
    color: #171c1f; /* on surface */
}